.year {
  display: flex;
  justify-content: space-around;
}

.month-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.month-list > * {
  width: 24%;
}

.dayList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 100%;
  height: 170px;
}

.dayList > * {
  width: 14%;
}